/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Rubik", sans-serif;
    height: 100%;
    width: 100%;
	background: #030303;
	background: linear-gradient(180deg, rgba(3, 3, 3, 1) 23%, rgba(23, 22, 22, 1) 73%, rgba(31, 30, 30, 1) 95%);
	color: #fff;
	overflow-x: hidden; /* Impede rolagem lateral indesejada */
}

/* ====== Footer ====== */
footer {
  background: #111;
  text-align: center;
  padding: 1.25rem;
  font-size: 0.875rem;
  color: #aaa;
}